body {
  background-color: #12282c;
  color: #20dbd8;
}

.container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  grid-auto-flow: row;
  grid-template-areas:
    "details-poster details-movie details-movie"
    "details-actor details-actor details-actor";
  background-color: #12282c;
  max-width: 1200px;
  margin: auto;
  padding: 2em;
}

.details-poster img{
  grid-area: details-poster;
  border-radius: 5px;
  box-shadow: #20dbd8 0px 5px 15px; 
}

.details-movie {
  grid-area: details-movie;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'helvetica', 'Courier New', Courier, monospace;
}

.details-movie h1 {
  font-size: 2em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.details-movie h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.details-movie p {
  font-size: 1em;
  font-weight: 100;
  margin: 0;
  padding: 0;
  text-align: center;
}


.details-actor { 
  grid-area: details-actor;
  display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
	grid-gap: 2em;
  max-width: 1200px;
	margin: auto;
	padding: 2em;
  background-color: #12282c; 
}

/* .details-movie {
  grid-area: details-movie;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
} */